.center{
  color:GOLD;
  text-align: center;
}


.lifesabeach{
  width: 1225px
}

.fontsize{
  font-size: 30px;
  position: fixed;
bottom:0;
right:0;
width:300px;
border:3px;
  top:-10px
}

.text{
  text-transform: capitalize;
}


a{
  position: relative;
  color:GOLD;
}

.font{
  color:gold;
}

ul, ol{
  color:silver;
}



#text-style{
  font-family:comic sans ms;
}



.anchorname{
  position: absolute;
}


#wrapper a {
  color: silver;
}

  #wrapper{
  margin: 5px 10px 20px 5px;
  border: 1px gold double;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
