body{
  background-color: #343536;
}

#wrapper{
   width:100%;
   	margin:auto;
    margin-top: -10px;
   	background-color:#585D82;
    min-height: 75px;

}
.header{
    padding-left: 280px;
    font-style: sans-serif;
}

.time{
  margin-bottom: -40px;
  margin-left: 40px;
  color: #C0E0DE  ;

}

#clock{
position: absolute;
padding-top: 7px;
padding-left: 200px;
}



.fontcolors{
  color:#C0E0DE;
  text-align: center;
  height: 19px;
  font-family: century,sans-serif;



 }

#insta{
width: 20px;
height: 20px;
float: right;
padding-right: 20%;
padding-top: 6px;
}


nav{
  font-size: 19px;
  word-spacing: 300px;

}


.box{
  margin-top:-390px;
margin-right:60%;
margin-bottom:20px;
margin-left:10%;

}


.cantina{
width: 500px;
margin-left: 40%;
margin-top: 100px

}

.position{
  margin-top: 250px;
}




.photo{
  width: 395px;
  height: 240px;
  margin-top:20px;
  margin-left:14px;
  margin-right:;
  position: center;
  border: double;
  border-color: black;

}


 #contact{
padding-top: 200px;
}

#moveit{
  position: relative;
  margin-top: 475px;
}

#about{
  margin-top: 475px;
}

 #bottom{
 	text-align:center;
 	height:70px;
   position:relative;
   top: 100px;
   color: #C0E0DE;

}

.cantina{
  border: double;
  color:black;
}
