body{
  background-color: #0A4A0F;
}

#wrapper{
   width:100%;
   	margin:auto;
    margin-top: -10px;
   	background-color:#3F9346;
    min-height: 70px;
 }
.header{
    padding-left: 280px;


}

.time{
  margin-bottom: -40px;
  margin-left: 40px;
  color: #6DFFCD;

}

#clock{
position: absolute;
padding-top: 7px;
padding-left: 200px;
}



.fontcolors{
  color:#6DFFCD;
  text-align: center;
  height: 19px

 }

#insta{
width: 20px;
height: 20px;
float: right;
padding-right: 20%;
padding-top: 6px;
}


nav{
  font-size: 19px;
  word-spacing: 300px;
}


.box{
  margin-top:-290px;
margin-right:60%;
margin-bottom:20px;
margin-left:10%;

}


.cantina{
width: 500px;
margin-left: 40%;
margin-top: 100px

}

.position{
  margin-top: 250px;
}




.photo{
  width: 395px;
  height: 240px;
  margin-top:20px;
  margin-left:14px;
  margin-right:;
  position: center;
  border: outset;
  border-color: white;

}





 #contact{
padding-top: 200px;
}

#moveit{
  position: relative;
  margin-top: 475px;
}

#about{
  margin-top: 475px;
}

 #bottom{
 	text-align:center;
 	height:70px;
   position:relative;
   top: 100px;

}
