body{
  background-color: #0A4A0F;
}

#wrapper{
   width:100%;
   	margin:0 auto;
   	background-color:#3F9346;
    min-height: 70px;
 }
#header{
  height: 70px;
  float: center;
}

.time{
  margin-bottom: -40px;
  margin-left: 40px;
  color: #6DFFCD;

}

#clock{
position: absolute;
padding-top: 20px;
padding-left: 100px;
}

#date{
  margin-left: 200px;
}



.fontcolors{
  color:#6DFFCD;
  text-align: center;
  height: 19px

 }

nav{
  font-size: 19px;
  word-spacing: 300px;
}


.box{
  margin-top:-290px;
margin-right:60%;
margin-bottom:20px;
margin-left:10%;

}


.cantina{
width: 500px;
margin-left: 40%;
margin-top: 100px

}

.position{
  margin-top: 250px;
}




.photo{
  width: 400px;
  height: 235px;
  margin-top:20px;
  margin-left:14px;
  margin-right:;
  position: center;

}

#bottom{
	text-align:center;
	height:70px;
	clear:both;
  position:relative;
  top: 600px;


}

#content{
margin-top: 1200;
}


 #contact{
   position: relative;
   height: 200px;
 }
